@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --global-font-family:'Ubuntu Mono', monospace;
    --global-font-weight-400:400;
    --global-font-weight-700:700;
    --global-line-height:1.5;
    --global-background-color:#f4f4f4;
    --global-height:100%;
    --global-width:100%;
    --uppercase:uppercase;
    --lowercase:lowercase;
    --capitalize:capitalize;
    --global-title-color:#fde9ce;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: var(--global-height);
}

body{
    font-family: var(--global-font-family);
    line-height: var(--global-line-height);
    background-color: var(--global-background-color);
    height: var(--global-height);
    text-transform: var(--capitalize);
}
img{
    width: var(--global-width);
    height: var(--global-height);
}

.grid-section{
    height: 100vh;
    background-color: var(--global-background-color);
}
main{
    height: 100vh;
}

.grid-elements{
    width: var(--global-width);
    height: 100vh;
    display: grid;
    grid-template-columns:3fr 1fr 1fr 1fr;
    gap: 1px;
    position: relative;
    z-index: 0;
}
.grid-elements::before{
    width:100%;
    height:100%;
    content:" ";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: .45;
}
.grid-element{
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: end;
}

.grid-element article{
    position: relative;
    z-index: 5;
    color:#fde9ce;
    padding: 1.5%;
}
.grid-element article p{
    font-size:  14px;
}

.grid-element article span{
    background-color: #00806e;
    padding: 4px;
}

.grid-element:nth-child(1){
    background-image: url('./images/pinkparadise.jpg');
    grid-row: 1/3;
}
.grid-element:nth-child(2){
    background-image: url('./images/mountain.jpg');
}
.grid-element:nth-child(3){
    background-image: url('./images/violateevening.jpg');
}
.grid-element:nth-child(4){
    background-image: url('./images/greenislands.jpg');
}
.grid-element:nth-child(5){
    background-image: url('./images/sweetemotion.jpg');
    grid-column: 2/-1;
}
.title-box{
    width: var(--global-width);
    padding: 2%;
    align-self:start;
    position: relative;
    z-index: 3;
}
.grid-element h1{
    font-weight: var(--global-font-weight-700);
    font-size: 65px;
    line-height: 1;
    word-spacing: 0;
    color: var(--global-title-color);
}
